.grid-table-container {
  padding: 20px;
  text-align: center;
  position: relative;
}

.grid-table-container h2{
  font-size: 13px;
  margin-right: 90%;
  margin-top: 10px;
}

.grid-table-container h3{
  font-size: 13px;
  margin-right: 90%;
  margin-top: -10px;
  padding: 0px 30px 0px 0px;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #BF0000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.info-divs {
  display: flex;
  justify-content: center;
  padding: 10px 20px 10px -20px;
  margin-right: 100%;
  width: 30%;
  font-size: 15px;
}

.info-divs > div {
  margin: 0 3px;
  padding: 10px;
  background-color: #44107f;
  border-radius: 5px;
  color: #fff;
}



.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.result-table th, .result-table td {
  border: 2px solid #b0b19a;
  padding: 8px;
}

.result-table th {
  background-color: #fcffc0;
}

.result-table .empty-box {
  width: 40px;
  height: 20px;
}

.info-footer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.info-footer p {
  margin: 0 10px;
  margin-left: 40%;
  margin-right: -49%;
  font-size: 12px;
  font-weight: bolder;
  color: #44107f;
}

.actions {
  margin: 10px 0;
}

.actions button {
  background-color: #BF0000;
  color: white;
  border: none;
  padding: 10px 30px 10px ;
  margin: 0px 45px;
  cursor: pointer;
  border-radius: 5px;
}

.yantra-groups h4 {
  margin: 20px 0;
  color: rgb(11, 11, 103);
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .grid-table-container h2, .grid-table-container h3 {
    font-size: 9px;
    margin-right: 0;
    text-align: left;
    
  }
  
  .logout-button {
    padding: 5px 10px;
    font-size: 8px;
    margin-top: 10px;
  }
  .result-table .empty-box {
    width: 6px;
    height: 4px;
  }
  
  .info-divs {
    
  
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 0px;
    margin-right: 100%;
    width: 50%;
    font-size: 8px;
  }
  .yantra-groups h4 {
    margin: 20px 0;
    color: rgb(11, 11, 103);
    font-size: 8px;
  }
  
  .info-divs > div {
    margin: 0 3px;
    padding: 3px;
    background-color: #44107f;
    border-radius: 5px;
    color: #fff;
    margin-top: -20px;
  }
  .result-table{
    margin-left: 5px;
  }
  
  .result-table th, .result-table td {
    padding: 5px;
    

    font-size: 5px;
    
  }

  
  .actions button {
    padding: 5px 5px 5px 5px;
    margin: 0px 5px;
    font-size: 6px;
  }
  
  .info-footer p {
    margin: 5px;
    font-size: 8px;
    margin-left: 25%;
    margin-right: -45%;
    margin-top: -5%;
  }
  
}
